<div class="bg-white/75 flex justify-between px-5 py-3">
    <div class="my-auto">
        <span>
            © 2025 Martin Defachelles
        </span>
    </div>
    <div class="flex gap-2">
        <a target="_blank" class="m-auto" href="https://github.com/MartinDef24">
            <img src="../assets/icon/github-logo.png" width="34px">
        </a>
        <a target="_blank" href="https://www.linkedin.com/in/defachelles-martin/">
            <img src="../assets/icon/linkedin-logo.webp" width="40px">
        </a>
    </div>
</div>
