<!-- Titre de bienvenue -->
<h1 class="text-center text-3xl mb-5">Bienvenue sur mon Portfolio</h1>
<div class="flex justify-around w-[90%] mb-24">
  <div class="w-[60%]"><img class="mx-auto" width="300px" src="assets/moi.webp"></div>
  <div class="w-[40%] my-auto">
    <p class="text-justify">
      Bienvenue ! Je suis Martin, votre développeur Front-End Angular.
      <br>
      Mon objectif ? Transformer vos idées en interfaces web robustes et performantes.
      Sur ce portfolio, découvrez mes réalisations concrètes où j'ai mis à profit mes compétences en
      Angular, React, TypeScript, JavaScript, HTML et CSS. Explorez mes projets et mon parcours,
      et n'hésitez pas à me contacter pour discuter de votre prochain défi technique !
    </p>
  </div>
</div>

<!-- Section Réalisations -->
<h2 id="experiences" class="text-center text-3xl mb-5">Réalisations & Compétences Clés</h2>
<p class="text-center w-3/4 mx-auto mb-10">
  Découvrez ci-dessous un aperçu de mes projets les plus significatifs, démontrant ma capacité à concevoir
  et développer des interfaces web robustes et performantes.
  Mon approche vise à transformer vos idées en expériences utilisateur fluides et intuitives.
</p>

<!-- Carousel -->
<div class="w-11/12 m-auto flex items-center mb-24 overflow-hidden relative">
  <!-- Flèche gauche -->
  <div class="w-[10%] text-center cursor-pointer z-10" (click)="prevProject()">
    <i class="fa-solid fa-arrow-left text-white text-3xl"></i>
  </div>

  <!-- Rail -->
  <div class="overflow-hidden w-[80%]">
    <div
      class="flex transition-transform duration-500 ease-in-out gap-8"
      [style.transform]="'translateX(-' + currentIndex * (cardWidth + cardGapPx) + '%)'"
    >
      @for (project of projects; track project.Title) {
        <div class="w-[31%] flex-shrink-0">
          <div class="border-white border rounded-lg bg-white/[.40] p-5 h-full">
            <div class="h-40 flex items-center justify-center">
              @if (project.Logo) {
                <img class="m-auto max-h-full max-w-full object-contain" src="assets/logo/{{project.Company}}.png">
              } @else {
                <p class="text-3xl text-center">PROJET <br>PERSONNEL</p>
              }
            </div>
            <div class="text-center pb-7">
              <h3 class="text-2xl h-[50px] flex items-center justify-center">{{ project.Title }}</h3>
              <span class="block h-[60px] flex items-center justify-center">
                <em>{{ project.DateDebutContrat + ' - ' + project.DateFinContrat }}</em>
              </span>
              <p class="text-justify h-[320px] overflow-auto">
                {{ project.ShortDescription }}
              </p>
              <div class="text-left h-[60px] flex items-center">
                <span>
                  <strong class="underline">Technos utilisées: </strong>
                  {{ project.Technos.join(', ') }}
                </span>
              </div>
              <a class="bg-white text-black rounded-xl px-5 py-3 inline-block mt-4 cursor-pointer" href="{{project.Company}}">
                En savoir plus
              </a>
            </div>
          </div>
        </div>
      }
    </div>
  </div>

  <!-- Flèche droite -->
  <div class="w-[10%] text-center cursor-pointer z-10" (click)="nextProject()">
    <i class="fa-solid fa-arrow-right text-white text-3xl"></i>
  </div>
</div>
