<!---Text bienvenue portfolio-->
<h1 class="text-center text-3xl mb-5">Bienvenue sur mon Portfolio</h1>
<div class="flex justify-around w-[90%] mb-24">
    <div class="w-[60%]">

    </div>
    <div class="w-[40%] my-auto">
        <p class="text-justify">
            Bienvenue ! Je suis Martin, votre développeur Front-End Angular. 
            <br>
            Mon objectif ? Transformer vos idées en interfaces web robustes et performantes. 
            Sur ce portfolio, découvrez mes réalisations concrètes où j'ai mis à profit mes compétences en 
            Angular, TypeScript, JavaScript, HTML et CSS. Explorez mes projets et mon parcours, 
            et n'hésitez pas à me contacter pour discuter de votre prochain défi technique !
        </p>
    </div>
</div>

<!---Présentation des différentes missions-->
<h2 class="text-center text-3xl mb-5">Réalisations & Compétences Clés</h2>
<p class="text-center w-3/4 mx-auto mb-24">
    Découvrez ci-dessous un aperçu de mes projets les plus significatifs, démontrant ma capacité à concevoir 
    et développer des interfaces web robustes et performantes. 
    Mon approche vise à transformer vos idées en expériences utilisateur fluides et intuitives.
</p>

